.io-about {
    position: fixed;
    bottom: 8px;
    right: 80px;
    z-index: 999;
  }
  
  .io-control-list {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .io-control-list.io-horizontal {
    display: inline-block;
  }
  
  .io-control-list.io-horizontal li {
    display: inline-block;
    margin-right: 10px;
  }
  
  .io-control-list.io-horizontal a {
    font-size: 13px;
    line-height: 20px;
    font-weight: normal;
    color: #007bff;
    text-decoration: none;
    padding: 2px;
  }
  
  .io-control-list.io-horizontal a:hover {
    text-decoration: underline;
  }
  